@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-gray-300;
  }
  label {
    @apply cursor-pointer;
  }
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.section {
  
  background-image: 
  linear-gradient(
    hsl(222, 20% 30%)
    hsl(113, 10%, 20%)
  );
}